.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

input {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}